body {
    padding-top: 70px; 
}

.form-check-input{
    height: 25px;
    width: 25px;
}
.form-check-label{
    font-size: 25px;
}

.navbar {
    background-color: #d9f6d6; 
    color: rgb(0, 0, 0);
    height: 70px;
}

#offcanvasNavbar {
    background-color: #d9f6d6; 
    width: 300px;
}

.account-details, .additional-details {
    margin-top: 20px;
}

.account-details .row, .additional-details .row {
    margin-bottom: 10px;
}

.account-details label, .additional-details label {
    font-weight: bold;
}

.payment-details {
    margin-top: 20px;
}

.payment-details .row {
    margin-bottom: 10px;
}

.payment-details label {
    font-weight: bold;
}

